body {
    margin: 0;
    overflow: hidden;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.cursor-pointer {
	cursor: pointer;
}

.inline-block {
	display: inline-block;
}

.main-container {
    width: 100%;
    height: 100vh;
}

.modal-relative {
	position: absolute !important;
}

#placeholderStampTooltip {
	display: none;
    position: fixed;
    background-color: #FFF;
	padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    z-index: 1000;

	// &.active {
	// 	display: block;
	// }
}

.main-container {
	.view {
	    position: absolute;
	    top: 0;
	    left: 0;
    	width: 0;
    	height: 0;
    	opacity: 0;
    	transition: opacity 1s linear;

    	&:not(.active) {
    		* {
    			display: none;
    			margin: 0;
    			padding: 0;
    			width: 0;
    			left: 0;
    			z-index: -1;
    		}
    	}

	    &.active {
	    	width: 100%;
    		height: 100vh;
	    	opacity: 1;

	    	& > .row.placeholder-stamp-active {
    			& > div:nth-child(1),
    			& > div:nth-child(3) {
    				.shadow-box {
    					display: block;
    					position: absolute;
    					top: 0;
    					left: 0;
    					width: 100%;
    					height: 100%;
    					background-color: rgba(0,0,0,0.3);
    				}
    			}
	    	}
	    }

	    &.disabled {
	    	width: 100%;
	    	height: 100vh;
	    	opacity: 0;
	    	transition-delay: 0.5;
	    }

	    & > .row {
	    	height: 100%;
	    	margin: 0 !important;

	    	& > div {
	    		padding: 0 !important;
	    		height: 100%;
	    	}
	    }

	    &[data-id="1"] {
	    	.footer-buttons {
	    		margin-top: 10px;
	    		padding: 0 30px;
	    	}
	    }
	}
}

.checkbox-box {
	display: inline-block;
    // margin-top: 6px;
    // padding-top: 6px;
    margin-left: 36px;
    cursor: pointer;

    * {
    	cursor: pointer;
    	user-select: none;
    }
}

.flickity-viewport {
	height: 100% !important;
}

.flickity-page-dots {
	bottom: 0px !important;
}

.models-box {
	height: 88%;
	padding: 30px 30px;

	.model-item {
		display: inline-block;
		width: 400px;
		// height: 100%;
		margin-top: 4%;
		height: 70%;
		font-family: 'Teko', sans-serif;
		color: #333;
		cursor: pointer;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-right: 180px;
		margin-left: 180px;
		opacity: 0.5;

		&.active, &.is-selected {
			background-color: #F0F0F0;
			text-align: center;
			padding-top: 0;
			opacity: 1;

			h4 {
				display: inline;
			}

			img {
				height: calc(100% - 20px);
			}
		}

		h4 {
			display: none;
			text-align: center;
			margin-top: 20px;
		}

		img {
			width: 100%;
			height: 100%;
			transition: padding-top 0.2s linear;
		}
	}
}

.title-box {
	h4 {
		font-family: 'Suez One', serif;
		font-size: 22px;
		text-align: center;
		margin-top: 16px;
		margin-bottom: 0;
		color: #333;
	}

	.divider {
		display: block;
		width: 35%;
		height: 2px;
		background-color: #2F53D7;
		margin: 0 auto;
	}
}

.parts-box {
	height: 89%;
	overflow: auto;

	& > ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			text-align: center;
			padding: 18px 0;
			cursor: pointer;

			&:hover {
				background-color: #F0F0F0;
			}

			&.active {
				background-color: #F0F0F0;

				span.decoration-selected {
					opacity: 1;

					&:before, &:after {
						top: 50%;
					}
				}
			}

			span.img {
				width: 80px;
				height: 80px;
				display: inline-block;
				background-position: center;
				background-size: cover;
			}

			span.decoration-selected {
				opacity: 0;

				&:before, &:after {
					content: '';
					position: absolute;
					top: 45%;
					width: 12%;
					height: 2px;
					background-color: #2F53D7;
					// transition: top 0.2s ease-out 0.1s;
					transition: top 0.5s cubic-bezier(0.35, 0.79, 0.32, 1.28) 0.1s;
				}

				&:before {
					left: 12%;
				}

				&:after {
					right: 12%;
				}
			}
		}
	}
}

.canvas-box {
	width: 100%;
	height: 100%;
	background-color: #E3E3E3;

	h3 {
		font-family: 'Sura', serif;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		padding: 12px 0;
		margin-top: 0;
		margin-bottom: 0;
		color: #333;
	}

	#canvasContainer {
		width: 100%;
		height: 90%;
		padding: 0 36px;
		padding-bottom: 6px;

		canvas {
			outline: none;
		}

		&:hover {
			#placeholderStampTooltip.active {
				display: block;
			}
		}
	}

	p {
		font-family: 'Sura', serif;
		margin: 0;
		// margin-top: 6px;
		margin-right: 36px;
		text-align: right;
	}
}

.options-box {
	height: 100%;

	* {
		user-select: none;
	}

	.nav {
		background-color: #F0F0F0;
		margin: 0 !important;

		.nav-item {
			position: relative;
			width: 25%;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 4px;

			&:after {
				content: '';
				position: absolute;
				top: calc(50% - 20px);
				right: 0;
				height: 40px;
				width: 1px;
				background-color: #2F53D7;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			&.active {
				background-color: #e8e8e8;
				& > a {
					margin-top: -4px;
				}
			}

			.nav-link {
				img {
					// width: 50px;
					height: 50px;
				}
				span {
					font-family: 'Sunflower', sans-serif;
					font-weight: 300;
					font-size: 14px;
					display: block;
					color: #333;
					padding-top: 4px;
				}
			}
		}
	}

	.tab-content {
		height: 82%;
		padding: 8px 0;
		box-sizing: border-box;
		overflow-y: auto;
	}

	.title-box {
		.divider {
			width: 45%;
		}
	}

	.textures-box {
		padding: 16px 20px;
		text-align: center;

		.tray-parent-swatch,
		.tray-swatch {
			margin-right: 10px;
			margin-bottom: 6px;
			cursor: pointer;
		}
	}

	.stamps-box {
		padding: 16px 20px;
		// text-align: center;

		& > .card {
			margin-top: 16px;

			.card-body {
				padding: 1rem !important;
			}

			&:first-child {
				margin-top: 0;
			}

			&:hover {
				&.add-card {
					.card-body {
						i {
							color: #2F53D7;
						}
					}
				}
			}

			&.placeholder {
				background-color: rgba(0,0,0,0.1);
			}

			&.add-card {
				cursor: pointer;

				.card-body {
					display: block;
					text-align: center;

					i {
						color: #333;
					}
				}
			}

			.card-body {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > img {
					// width: 100px;
					height: 80px;
				}
				:not(.actions-box) {
					span {
						font-size: 12px;

						&.color-detail {
							border: 1px solid #dfdfdf;
						}
					}
				}
			}
		}

		.actions-box {
			display: inline-block;
			// margin-right: 10px;

			& > span {
				margin-right: 16px;
				cursor: pointer;

				&.view-action {
					user-select: none;

					&:hover {
						& > i:first-child {
							display: none;
						}
						& > i:last-child {
							display: inline;
						}
					}

					& > i:first-child {
						display: inline;
					}
					& > i:last-child {
						display: none;
					}
					&.active {
						// &:hover {
						// 	& > i:first-child {
						// 		display: inline;
						// 	}
						// 	& > i:last-child {
						// 		display: none;
						// 	}
						// }
						& > i:first-child {
							display: none;
						}
						& > i:last-child {
							display: inline;
						}
					}
				}

				& > i {
					color: #333;
				}
			}
		}

		table {
			width: 100%;
			font-family: 'Sunflower', sans-serif;
			font-weight: 600;
		}
	}

	.others-box {
		padding: 16px 20px;

		.card {
			transition: transform 0.1s linear;
			.card-body {
				h5 {
					transition: color 0.1s linear;
				}
			}
		}

		.card {
			&:hover {
				transform: scale(1.01);
				.card-body {
					h5 {
						&.color-hover-primary {
							color: #2F53D7;
						}
						&.color-hover-danger {
							color: #DD5252;
						}
					}
				}
			}
		}
	}

	.footer {
		// margin-top: 20px;
		// padding-top: 20px;
		margin-left: 24px;
		margin-right: 24px;

		p {
			// float: left;
			display: inline-block;
			font-family: 'Sura', serif;
			font-size: 13px;
			// margin-top: 8px;
			margin: 0;
		}

		button {
			float: right
		}
	}
}

.btn-cool {
	background-color: #2F53D7;
	font-family: 'Sunflower', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
	outline: none;
	border: none;
	padding: 6px 24px;
	box-sizing: border-box;
	border-radius: 2px;

	&.btn-danger {
		background-color: #DD5252;
	}
}