body {
  margin: 0;
  overflow: hidden;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.cursor-pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.main-container {
  width: 100%;
  height: 100vh;
}

.modal-relative {
  position: absolute !important;
}

#placeholderStampTooltip {
  display: none;
  position: fixed;
  background-color: #FFF;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 4px;
  z-index: 1000;
}

.main-container .view {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 1s linear;
}

.main-container .view:not(.active) * {
  display: none;
  margin: 0;
  padding: 0;
  width: 0;
  left: 0;
  z-index: -1;
}

.main-container .view.active {
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.main-container .view.active > .row.placeholder-stamp-active > div:nth-child(1) .shadow-box,
.main-container .view.active > .row.placeholder-stamp-active > div:nth-child(3) .shadow-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-container .view.disabled {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition-delay: 0.5;
}

.main-container .view > .row {
  height: 100%;
  margin: 0 !important;
}

.main-container .view > .row > div {
  padding: 0 !important;
  height: 100%;
}

.main-container .view[data-id="1"] .footer-buttons {
  margin-top: 10px;
  padding: 0 30px;
}

.checkbox-box {
  display: inline-block;
  margin-left: 36px;
  cursor: pointer;
}

.checkbox-box * {
  cursor: pointer;
  user-select: none;
}

.flickity-viewport {
  height: 100% !important;
}

.flickity-page-dots {
  bottom: 0px !important;
}

.models-box {
  height: 88%;
  padding: 30px 30px;
}

.models-box .model-item {
  display: inline-block;
  width: 400px;
  margin-top: 4%;
  height: 70%;
  font-family: 'Teko', sans-serif;
  color: #333;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 180px;
  margin-left: 180px;
  opacity: 0.5;
}

.models-box .model-item.active, .models-box .model-item.is-selected {
  background-color: #F0F0F0;
  text-align: center;
  padding-top: 0;
  opacity: 1;
}

.models-box .model-item.active h4, .models-box .model-item.is-selected h4 {
  display: inline;
}

.models-box .model-item.active img, .models-box .model-item.is-selected img {
  height: calc(100% - 20px);
}

.models-box .model-item h4 {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.models-box .model-item img {
  width: 100%;
  height: 100%;
  transition: padding-top 0.2s linear;
}

.title-box h4 {
  font-family: 'Suez One', serif;
  font-size: 22px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
  color: #333;
}

.title-box .divider {
  display: block;
  width: 35%;
  height: 2px;
  background-color: #2F53D7;
  margin: 0 auto;
}

.parts-box {
  height: 89%;
  overflow: auto;
}

.parts-box > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.parts-box > ul li {
  position: relative;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
}

.parts-box > ul li:hover {
  background-color: #F0F0F0;
}

.parts-box > ul li.active {
  background-color: #F0F0F0;
}

.parts-box > ul li.active span.decoration-selected {
  opacity: 1;
}

.parts-box > ul li.active span.decoration-selected:before, .parts-box > ul li.active span.decoration-selected:after {
  top: 50%;
}

.parts-box > ul li span.img {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-position: center;
  background-size: cover;
}

.parts-box > ul li span.decoration-selected {
  opacity: 0;
}

.parts-box > ul li span.decoration-selected:before, .parts-box > ul li span.decoration-selected:after {
  content: '';
  position: absolute;
  top: 45%;
  width: 12%;
  height: 2px;
  background-color: #2F53D7;
  transition: top 0.5s cubic-bezier(0.35, 0.79, 0.32, 1.28) 0.1s;
}

.parts-box > ul li span.decoration-selected:before {
  left: 12%;
}

.parts-box > ul li span.decoration-selected:after {
  right: 12%;
}

.canvas-box {
  width: 100%;
  height: 100%;
  background-color: #E3E3E3;
}

.canvas-box h3 {
  font-family: 'Sura', serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 12px 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}

.canvas-box #canvasContainer {
  width: 100%;
  height: 90%;
  padding: 0 36px;
  padding-bottom: 6px;
}

.canvas-box #canvasContainer canvas {
  outline: none;
}

.canvas-box #canvasContainer:hover #placeholderStampTooltip.active {
  display: block;
}

.canvas-box p {
  font-family: 'Sura', serif;
  margin: 0;
  margin-right: 36px;
  text-align: right;
}

.options-box {
  height: 100%;
}

.options-box * {
  user-select: none;
}

.options-box .nav {
  background-color: #F0F0F0;
  margin: 0 !important;
}

.options-box .nav .nav-item {
  position: relative;
  width: 25%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
}

.options-box .nav .nav-item:after {
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  height: 40px;
  width: 1px;
  background-color: #2F53D7;
}

.options-box .nav .nav-item:last-child:after {
  display: none;
}

.options-box .nav .nav-item.active {
  background-color: #e8e8e8;
}

.options-box .nav .nav-item.active > a {
  margin-top: -4px;
}

.options-box .nav .nav-item .nav-link img {
  height: 50px;
}

.options-box .nav .nav-item .nav-link span {
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  font-size: 14px;
  display: block;
  color: #333;
  padding-top: 4px;
}

.options-box .tab-content {
  height: 82%;
  padding: 8px 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.options-box .title-box .divider {
  width: 45%;
}

.options-box .textures-box {
  padding: 16px 20px;
  text-align: center;
}

.options-box .textures-box .tray-parent-swatch,
.options-box .textures-box .tray-swatch {
  margin-right: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

.options-box .stamps-box {
  padding: 16px 20px;
}

.options-box .stamps-box > .card {
  margin-top: 16px;
}

.options-box .stamps-box > .card .card-body {
  padding: 1rem !important;
}

.options-box .stamps-box > .card:first-child {
  margin-top: 0;
}

.options-box .stamps-box > .card:hover.add-card .card-body i {
  color: #2F53D7;
}

.options-box .stamps-box > .card.placeholder {
  background-color: rgba(0, 0, 0, 0.1);
}

.options-box .stamps-box > .card.add-card {
  cursor: pointer;
}

.options-box .stamps-box > .card.add-card .card-body {
  display: block;
  text-align: center;
}

.options-box .stamps-box > .card.add-card .card-body i {
  color: #333;
}

.options-box .stamps-box > .card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-box .stamps-box > .card .card-body > img {
  height: 80px;
}

.options-box .stamps-box > .card .card-body :not(.actions-box) span {
  font-size: 12px;
}

.options-box .stamps-box > .card .card-body :not(.actions-box) span.color-detail {
  border: 1px solid #dfdfdf;
}

.options-box .stamps-box .actions-box {
  display: inline-block;
}

.options-box .stamps-box .actions-box > span {
  margin-right: 16px;
  cursor: pointer;
}

.options-box .stamps-box .actions-box > span.view-action {
  user-select: none;
}

.options-box .stamps-box .actions-box > span.view-action:hover > i:first-child {
  display: none;
}

.options-box .stamps-box .actions-box > span.view-action:hover > i:last-child {
  display: inline;
}

.options-box .stamps-box .actions-box > span.view-action > i:first-child {
  display: inline;
}

.options-box .stamps-box .actions-box > span.view-action > i:last-child {
  display: none;
}

.options-box .stamps-box .actions-box > span.view-action.active > i:first-child {
  display: none;
}

.options-box .stamps-box .actions-box > span.view-action.active > i:last-child {
  display: inline;
}

.options-box .stamps-box .actions-box > span > i {
  color: #333;
}

.options-box .stamps-box table {
  width: 100%;
  font-family: 'Sunflower', sans-serif;
  font-weight: 600;
}

.options-box .others-box {
  padding: 16px 20px;
}

.options-box .others-box .card {
  transition: transform 0.1s linear;
}

.options-box .others-box .card .card-body h5 {
  transition: color 0.1s linear;
}

.options-box .others-box .card:hover {
  transform: scale(1.01);
}

.options-box .others-box .card:hover .card-body h5.color-hover-primary {
  color: #2F53D7;
}

.options-box .others-box .card:hover .card-body h5.color-hover-danger {
  color: #DD5252;
}

.options-box .footer {
  margin-left: 24px;
  margin-right: 24px;
}

.options-box .footer p {
  display: inline-block;
  font-family: 'Sura', serif;
  font-size: 13px;
  margin: 0;
}

.options-box .footer button {
  float: right;
}

.btn-cool {
  background-color: #2F53D7;
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  color: #FFF;
  outline: none;
  border: none;
  padding: 6px 24px;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn-cool.btn-danger {
  background-color: #DD5252;
}

.carousel-inner img {
  margin: auto;
}

.carousel-inner h5 {
  letter-spacing: 2px;
}

.carousel-inner i {
  letter-spacing: 1px;
}

/* Animations */

.carousel-item img {
  animation-delay: 0s;
}

.carousel-item div {
  animation-delay: 1s;
}